{% extends "layout.html" %}
{% block head %}
{{ super() }}
<title> Add Data </title>
{% endblock %}
{% block content %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Data</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" action="/add" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="form-group">
                                {% if error %}
                                <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                                {% endif %}

                                {% if data %}
                                <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                                {% endif %}

                            </div>
                            <div class="form-group">
                                <label>USER NAME : {{user}}</label>
                                
                            </div>
                            <div class="form-group">
                                <label>MESSAGE :</label>
                                <input type="text" cols="40" row="10" class="form-control" placeholder="Enter the Message" name="msg" required>
                            </div>
                            

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer" >
                            <button type="submit" class="btn btn-primary btn-block">Add Data</button>
                        </div>
                    </form>
                    <br>
                    <br>
                    <br>
                </div>
                <!-- /.card -->



            </div>
        </div>
    </div>
</section>
{% endblock %}